<!DOCTYPE html>
<html>
    <head>
        <title>JobMatcher</title>
        <script src="/Index.js"></script>
    </head>

    <body>
        <div id="react-root"></div>
    </body>
</html>
